#banho{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: #203f9a;
    
    
    
    
    
}

.imagem_banho{
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 110px;
    border: 2px solid #fff2ea;
    padding: 10px; 
    background: linear-gradient(to right, #e7584d, #3465df);
    filter: brightness(0.90);
    
    
}

.container_banho{
    text-align: center;
    width: 90%;
    color: #afd5e2;
    font-size: 1.25rem;
    margin: 20px auto;
}

.container_banho h2{
    color: #2854ad;
    -webkit-text-stroke: 1px #eeecc8;
    letter-spacing: 5px;
    font-size: 2rem;
    transition: ease 0.5s; 

}
.container_banho h2:hover{
    color: #f596ac;
    text-shadow: 0 0 2px #fff, 0 0 10px #dc385e, 0 0 30px #ff416d;
    cursor: pointer;
}


.container_banho button{
    margin-top: 10px;
    border: 1px solid white;
    background: #64ceaf;
    box-shadow: 0 0 1.5px #fff, 0 0 10px #64ceaf;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: 1.25rem;
    transition: ease 0.7s;

}
.container_banho button:hover{
    background: #64ceae9e;
    box-shadow: 0 0 2px #fff, 0 0 10px #e7584d, 0 0 20px #ff416d;
}

@media screen {
    
}

@media screen and (max-width: 500px) {

    #banho{
        display: flex;
        flex-direction: column;
    }
    
}


