footer{
    background-color: #241958;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    
}

.footer-container{
    max-width: 30%;
    gap: 30px;
    display: inline-flexbox;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}
.footer-container a{
    color: #f55f8279;
}

.link-container{

    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
    margin-top: 10px;
    
}

#conteudo-f{
    display: flex;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
}

.link-container span{
    color: #dc385ed4;
    
}

.link-container a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.link-container a:hover{
    color: #f55f82d4;
}

 .logo #logoft{
    position: absolute;
}
#meio{
    align-items: center;
    
}


#adicionais{
    
    padding: 30px;
}

#adicionais a{
    color: #f55f8279 ;
}

#redes i{
    color: #f55f82d4;
    font-size: 1.5rem;
    padding: 20px;
    transition: ease 0.3s;

}

#redes i:hover{
    color: white;
}


@media screen and (max-width:370px) {
    .footer-container{
        display: block;
        width: 400px;
        z-index: auto;
        justify-content: end;
        margin: 20px;
       
        

    }
    footer{
        justify-content: start;
        padding: 10px;
      
    }

    
    #adicionais{
        width: 100%;
        justify-content: center;
        text-align: start;
        
    }
    
}