footer{
    width: 100%;
    background-color: #1744b5;
    color: white;
    justify-content: center;
    text-align: center;

    
}

.footer-container{
    max-width: 100%;
    max-height: 100%;
    gap: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}
.footer-container a{
    color: #e7584d;
}

.link-container{

    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
    margin-top: 10px;
    
}



.link-container span{
    color: #e7584d;
    
}

.link-container a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.link-container a:hover{
    color: #e7584d;
}

 .logo #logoft{
    position: absolute;
}
#meio{
    align-items: center;
    
}
#conteudo-f{
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
}

#adicionais{
    color: #eeecc89f;
    padding: 30px;
}

#adicionais a{
    color: #64ceaf ;
}

.redes i{
    color: #e7584d;
    font-size: 1.5rem;
    padding: 20px;
    transition: ease 0.7s;

}

.redes i:hover{
    color: white;
}

@media (min-width: 1024px) {
    #conteudo-f {
        grid-template-columns: repeat(3, 1fr);
        text-align: left; 
    }
}
