
header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 1.25rem;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
    
   

}
header p{
    font-size: 1.5rem;
}

#inicio{
    display: flex;
    height: 150px;
    position: sticky;
    z-index: 1000;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid #b3a0d2;
    padding: 0 90px;
    background: #7aa0cf;
    letter-spacing: 0.6px;


    
    
  
}



#ligar1{
    margin-top: 30px;
    background: #e8564d;
}




#veterinaria{
    position: absolute;
    
}

.vet-inicio {
    position: relative; 
    width: 100%;
    min-height: 70vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}
.vet-inicio .veterinaria-container:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#veterinaria {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.48); 
}
.vet-inicio .veterinaria-container:first-child {
    position: relative;
    z-index: 2; 
    max-width: 800px; 
    padding: 20px;
}
.vet-inicio p {
    color: #aad0e3; 
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}

.veterinaria-container{
    align-items: center;
    justify-content: center;
}


.veterinaria-container button{
    justify-content: center;
}
#menu-mobile{
    display: none;
}


.botoes{
    display: flex;
    align-items: center;
    gap: 40px;
}

#inicio ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:  90px;
    list-style: none;
}

#inicio a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 380;
    cursor: pointer;
    transition: 0.7s;
}

.nav-list{
    display: flex;
}


#inicio a:hover{
    color:#2854a4;
    font-weight: 480;
    border-bottom: 1.5px solid #ff416d;
}




/* ajustando a responsividade para o mobile*/

@media screen and (max-width: 500px) {
    #inicio{
        height: 45vh;
        align-items: center;
        justify-content: space-evenly;

    }
    #inicio ul{
        display: none;
    }
    .logo{
    width: 350px;
    height: 350px;
    
    }
    #ligar1{
    width: 450px;
    height: 120px;
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    }

    #menu-mobile{
        display: block;
        font-size: 90px;
        font-family: 5px;
        color: #f2efe8;
    }

    #veterinaria{
        height: 100% !important;
        width: 100% !important;
        object-fit: cover;
        position: absolute;
    }

    .vet-inicio p{
        align-items: center;
    }

    .vet-inicio {
        position: relative; /* Pai de todos */
        width: 100%;
        height: 100vh; /* Ocupa a tela inteira */
        display: block; /* Desativa o flex que separa os lados */
        padding: 0;
        margin: 0;
    }
    .vet-inicio .veterinaria-container:last-child {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; /* Camada de baixo */
    }
    .vet-inicio .veterinaria-container:first-child{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    

    .vet-inicio .veterinaria-container:last-child{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    .conteudo-vet{
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        text-align: center;
    }

    .conteudo-vet p{
        font-size: 2.5rem;
        padding: 50px;
    }
    .botoes .ligar{
        width: 450px;
        height: 125px;
        gap: 100px;
        font-size: 2.2rem;
        letter-spacing: 0.5px;
        
    }

    
    
}

