
header{
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 1.25rem;
    justify-content: center;
    
    
    
    
   

}
header .nav-list-mobile{
    gap: 30px;
    text-align: center;
    
}




header p{
    font-size: 1.5rem;
}

#inicio{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    background: #7aa0cf;
    letter-spacing: 0.6px;
    margin-left: auto;
    margin-right: auto;


    
    
  
}



#ligar1{
    width: 25%;
    margin-top: 30px;
    background: #e8564d;
    margin-left: 30px;
}




#veterinaria{
    position: absolute;
    
}

.vet-inicio {
    position: relative; 
    width: 100%;
    min-height: 70vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}
.vet-inicio .veterinaria-container:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#veterinaria {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.48); 
}
.vet-inicio .veterinaria-container:first-child {
    position: relative;
    z-index: 2; 
    max-width: 800px; 
    padding: 20px;
}
.vet-inicio p {
    color: #aad0e3; 
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}

.veterinaria-container{
    align-items: center;
    justify-content: center;
}


.veterinaria-container button{
    justify-content: center;
}
#menu-mobile{
    display: none;
    font-size: 30px; 
    color: #f2efe8;
}


.botoes{
    display: flex;
    align-items: center;
    gap: 40px;
}

#inicio ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    list-style: none;
}

#inicio a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 380;
    cursor: pointer;
    transition: 0.7s;
}

.nav-list{
    display: flex;
}


#inicio a:hover{
    color:#2854a4;
    font-weight: 480;
    border-bottom: 1.5px solid #ff416d;
}

.nav-list-mobile{
    display:none;
    box-sizing: border-box;
    background-color: #2854a4;
    
}

.nav-list-mobile a, ul{
    color: #ff416d;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    transition: ease 0.5s;

}

.nav-list-mobile a:hover{
    color: white;
    font-weight: 480;
    border-bottom: 1.5px solid #e7584d;

}
.nav-list-mobile ul{
    padding: 15px;
    gap: 10px;
}

.fechar{
    color: white;
    font-size: 30px;
    width: 30px;
    align-items: center;
    height: 30
    font-weight: 800;
    display: none;
    background: #e7584d;
    border-radius: 15%;
    border: 1px solid white;
    
    

}

#mobile-abf{
    text-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    
}


.abrir, .fechar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

}

/* ajustando a responsividade para o mobile*/

@media screen and (max-width:768px) {
    #inicio {
        height: auto; 
        padding: 15px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #inicio ul {
        display: none; 
    }

    .logo {
        width: 100px; 
        height: 100px;
    }

    #ligar1 {
        display: none; 
    }

    #menu-mobile {
       
        display: block;
        font-size: 25px;
        color: #f2efe8;
    }

    
    .vet-inicio {
        height: 80vh; 
    }

    .conteudo-vet {
        padding: 0 20px;
        width: 100%;
    }

    .conteudo-vet h1 {
        font-size: 1.8rem !important; 
        line-height: 1.2;
    }

    .conteudo-vet p {
        font-size: 1.1rem !important; 
        padding: 15px 0 !important;
    }

    .botoes {
        flex-direction: column; 
        gap: 15px;
        width: 100%;
    }

    .botoes .ligar {
        width: 100% !important; 
        max-width: 280px; 
        height: 60px;
        font-size: 1.1rem;
    }
}