/* configurações de peguntas e respostas*/

#perguntas{
    background-color: rgb(240, 238, 252);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    

}

/* como eu criei os blocos de perguntas frequêntes*/

.faqs{
    background-color: white;
    width: 600px;
    margin: 5px 5px;
    box-shadow:  5px 5px 20px rgba(77, 53, 113, 0.236);
    border-radius: 0px 15px ;

    

}



.pergunta{
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 0px 15px ;


    
}




.abref{
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    
}

.up{
    display: none;
}

.up, .dow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    
}

.resposta{
    padding: 10px;
    display: none;
    
    
}
.bloco_perguntas{
    padding: 25px;
}
.bloco_perguntas .faqs:first-child .resposta{
    display: block;
}

.bloco_perguntas .faqs:first-child .up{
    display:block !important;
}

.bloco_perguntas .faqs:first-child .down{
    display: none !important;
}

.bloco_perguntas .faqs:first-child .pergunta{
    background-color:#3b1f67 ;
    color: white;
}

#allquestions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

@media screen and (max-width:360px) {
    #perguntas{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        
    }
    #allquestions{
        width: 70%;
    }


    
    
}

@media screen and (max-width: 350px) {
    #perguntas{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .bloco_perguntas{
        width: 90%;
        margin-left: 50px;
        padding: 20px;
        justify-content: space-between;
    }

    .pergunta{
        padding: 30px;
    }

    .faqs{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    
    
}



