#servicos{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    background-color: #aad0e3;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}


#vet-cat{
    width: 100%;
    padding: 10px;
    height: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.container_servicos{
    align-items: center;
    background-color: #f0eef9fd;
    text-align: center;
    border: 3px solid #3465df;
    width: 90%;
    height: 700px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 4px 5px rgba(45, 45, 45, 0.045);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: ease 0.5s;
    cursor: pointer;

    

}



.container_servicos:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 2px #fff, 0 0 10px #8863a059, 0 0 40px #2319581d;

}

.container_servicos:nth-child(2){

    box-shadow: 0 0 2px #fff, 0 0 10px #8863a0, 0 0 40px #231958d5;
    cursor: pointer;
}


.pets-atendimento i{
    width: 30;
    height: 30%;
    font-size: 1.75rem;
    padding: 5px;
    color: #203f9a;
    text-align: center;

    
}

#vet-titulo{
    height: 20%;
}
.vet_dog{
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;

}
.vet_dog h2{
    font-size: 1.5rem;
    
}

.container_servicos p{
    color:#060a0ccf;
    font-size: 1rem;
    padding:  0  20px;
}


.container_servicos, .atendimento{
    justify-content: space-around;
    gap: 5px;
}

.atendimento{
    background-color: #f5f1f9fd;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.049);
    border: 1.5px  solid #64ceaf;
    height: 33%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;  
    align-items: center; 
    margin-left: auto; 
    margin-right: auto;
    display: flex; 
    text-align: center;
    
        

}




    
    



.atendimento h3{
    
    font-size: 1.2rem;
    color: #2854ad;
    max-height: 30%;
    width: 100%;
    text-align: center;
   
    
    

}
.atendimento p{
    width: 100%;
    padding: 20px;
}

.atendimento  .pets-atendimento{
    max-height: 30% ;
}

@media screen and (min-width:1024px) {
    
    #servicos{
        grid-template-columns: repeat(3,1fr);
    }

    .atendimento{
        
        justify-content: space-evenly;
}
}

