#servicos{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    background-color: #aad0e3;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}


#vet-cat{
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.container_servicos{
    align-items: center;
    background-color: #f0eef9fd;
    text-align: center;
    border: 3px solid #3465df;
    width: 90%;
    height: 700px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 4px 5px rgba(45, 45, 45, 0.045);
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    transition: ease 0.5s;
    cursor: pointer;

    

}



.container_servicos:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 2px #fff, 0 0 10px #8863a059, 0 0 40px #2319581d;

}

.container_servicos:nth-child(2){

    box-shadow: 0 0 2px #fff, 0 0 10px #8863a0, 0 0 40px #231958d5;
    cursor: pointer;
}


.pets-atendimento i{
    width: 50px;
    height: 50px;
    font-size: 3rem;
    align-items: center;
    margin: 5px;
    color: #203f9a;

    
}
.vet_dog{
    justify-content: center;
    padding: 0 40px;
    align-items: stretch;
    flex-direction: column;
    margin-top: 30px;

}
.vet_dog h2{
    font-size: 1.5rem;
    
}

.container_servicos p{
    color:#060a0ccf;
    font-size: 1rem;
    padding:  0  20px;
}

.atendimento{
    background-color: #f5f1f9fd;
    height: 215px;
    padding: 0 30px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.049);
    border: 1.5px  solid #64ceaf;
    display: flex;
    flex-direction: column;    
    justify-content: center;  
    align-items: center; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;    

}


    
    



.atendimento h3{
    font-size: 1.25rem;
    color: #2854ad;
    font-weight: 800;
    
    

}

@media screen and (min-width:1024px) {
    
    #servicos{
        grid-template-columns: repeat(3,1fr);
    }
}

