#servicos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    background-color: rgba(240, 238, 252, 0.399);
    height: 775px;
    
}


#vet-cat{
    width: 400px;
    margin-top: 40px;
    border-radius: 5px;
    
    
}

.container_servicos{
    align-items: center;
    background-color: rgb(249, 248, 252);
    text-align: center;
    border: 3.5px solid #e64cab;
    width: 100%;
    height: 700px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 4px 4px 5px rgba(45, 45, 45, 0.045);

    

}
.vet_dog{
    justify-content: center;
    padding: 0 40px;
    align-items: stretch;
    flex-direction: column;
    margin-top: 30px;

}
.vet_dog h2{
    font-size: 1.5rem;
    
}

.container_servicos p{
    color:#4e2096;
    font-size: 1rem;
    padding:  0  20px;
}

.atendimento{
    background-color: #4a068915;
    font-size: 1rem;
    text-align: center;
    height: 215px;
    padding-bottom:  0 17px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.049);
    border: 1px  solid rgba(0, 0, 0, 0.368);
    margin: 10px auto;
    align-items: center;
    justify-items: center;
}

.atendimento img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    filter: brightness(1); 
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.049);


}
.atendimento h3{
    font-size: 1.25rem;
    color: #241958;
    font-weight: 800;
    
    

}