/* Configurações gerais da página*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     position: absolute;
     background: #f2efe8;
     
    
    
    
}


.logo{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

button.ligar{
    margin-top: 10px;
    border: 1px solid white;
    background: #e8574d;
    box-shadow: 0 0 1.5px #fff, 0 0 10px #dc385e;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: 1.25rem;
    transition: ease 0.7s;
    color: #fff;
    cursor: pointer;
}

button.ligar:hover{
    background: #ff3e30;
    box-shadow: 0 0 2px #fff, 0 0 10px #e8574d, 0 0 20px #e8574dbe;
    
   
}
button.ligar:active{
    transform: scale(0.92);
    transition: ease 0.5s;
}

h2, h1{
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2854ad;
}

h2{
    font-size: 1.5rem;
}



h4{
    color: #b3a0d2;
    text-align: center;
    
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 50px;
}

 #chegar{
    padding: 0px 20px;
    background: #64ceaf;
    border: 1px solid white;
    box-shadow: 0 0 1.5px #fff, 0 0 10px #64ceaf;
    color: white;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: ease 0.5s;
 }

 #chegar:hover{
    background: #e7584d;
    box-shadow: 0 0 1.5px #fff, 0 0 10px #e7584d;
 }

 #chegar a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 5px;
 }



 
