/* Configurações gerais da página*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: rgb(255, 255, 255);
     
    
    
    
}


.logo{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

button.ligar{
    margin-top: 10px;
    border: 1px solid white;
    background: #dc385e;
    box-shadow: 0 0 1.5px #fff, 0 0 10px #dc385e;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: 1.25rem;
    transition: ease 0.7s;
    color: #fff;
    cursor: pointer;
}

button.ligar:hover{
    background: #ff416d;
    box-shadow: 0 0 2px #fff, 0 0 10px #dc385e, 0 0 20px #ff416d9f;
    
   
}
button.ligar:active{
    transform: scale(0.92);
    transition: ease 0.5s;
}

h2, h1{
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3b1f67;
}

h2{
    font-size: 1.5rem;
}



h4{
    color: #b3a0d2;
    text-align: center;
    
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 50px;
}

 #chegar{
    padding: 0px 20px;
    background: #3b1f67;
    color: white;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: ease 0.5s;
 }

 #chegar:hover{
    background: #603d98;
 }

 #chegar a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 5px;
 }



 /* ajustando a responsividade da página inicial da landing page da petcare */

@media (max-width: 1300px ){
    
    

    body{
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        position: absolute;
        
    }
}


@media (max-width: 500px){

    .logo{
        width: 150px;
        height: 150px;
    }


    .ligar{
        width: 150px;
        height: 30px;
    }
}


@media screen and (max-width: 370px){
    #servicos{
    display: block;
    
    
}
.sobre{
    width: 100%;
    font-size: 0.9rem;
}

.container_sobre{
    padding: 20px;
    width: 50%;
    
}

#inicio{
    
    justify-content: center;
    padding: 0px 10px;
    width: 100%;
}

.nav-list{
    
    width: 30%;
    justify-content: end;
    margin-left: 60px;
}
header{
    width: 90%;
    align-items: center;

}

.vet-inicio{
    justify-content: center;
}
.veterinaria-container{
    justify-content: center;
    align-items: center;
    text-align: left;
}
.vet-inicio .veterinaria-container:first-child {
    margin-left: auto;
    margin-right: auto;
}
.slider{
    align-items: center;
    margin-right: auto;
    
}

 #ligar1{
    margin-right: 300px
    
}

#servicos{
    height: auto;
    padding: 20px 0px;
    width: 100%;
    margin: 0;
    gap: 10px;
    
}
.container_servicos{
    height: auto;
    padding: 0px 5px;
    margin-bottom: 20px;
    width: 30%;
    display: block;

}


}
