/* Funcionarios da petCare*/


#vets{
    text-align: center;
   background: #7aa0cf;
    
    

    
}

#vets h2{
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 60px;
    
}




.flexinha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    color: rgb(101, 101, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    border: none;
}

.esquerda { left: 60px; }
.direita { right: 60px; }

.flexinha:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
}


.vet-slider {
    overflow: hidden; 
    position: relative;
    width: 100%; 
    margin: 0 auto;
    align-items: center;
}


.vet-slide {
    display: flex;
    width: 100%; 
    transition: margin-left 0.5s ease-in-out;
}


.slide-vet {
    width: 50%; 
    flex-shrink: 0;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}
.slide-vet h3{
    color:#3465df;
    padding: 20px;
    font-size: 1.2rem;
}

.slide-vet p{
     color:#f2efe8d3;
}

.slide-vet img {
    width: 100%;    
    max-width: 400px; 
    height: 500px;
    object-fit: cover;
    border-radius: 200px;
    padding: 15px;
    background: linear-gradient(to bottom,#64ceaf, #3465df);
    border: 3.5px solid #3465df;
    border-bottom: 20px;
    filter: brightness(0.9);

   
}



#vet1:checked ~ .vet-slide { margin-left: 0; }
#vet2:checked ~ .vet-slide { margin-left: -50%; }
#vet3:checked ~ .vet-slide { margin-left: -100%; }
#vet4:checked ~ .vet-slide { margin-left: -150%; }
#vet5:checked ~ .vet-slide { margin-left: -200%; }
#vet6:checked ~ .vet-slide { margin-left: -250%; }
#vet7:checked ~ .vet-slide { margin-left: -300%; }
#vet8:checked ~ .vet-slide { margin-left: -350%; }


